<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - Todo list</title>
    <link rel="stylesheet" href="../resources/styles/style.css" />
    <script src="../resources/js/main.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <p>
          <a href="./index.html">Home</a>
        </p>
        <p>
          <a href="./about.html">About</a>
        </p>
        <p>
          <a href="./chores.html">Chores</a>
        </p>
      </nav>
      <h1>About page</h1>
      <img
        src="https://media.istockphoto.com/vectors/list-with-things-to-do-in-notepad-and-pencil-checklist-doodle-hand-vector-id1186910494?k=20&m=1186910494&s=612x612&w=0&h=ewPzTuZr1EfV7vqeJsJi4Qxqx270_GhB58tUQ8cZuF8="
        alt="to do list"
      />
    </header>
    <section class="content"></section>
    <footer>
      <p>
        Created by
        <a href="https://github.com/Zacpowerr/" target="_blank">Zacpowerr</a>
        2021&copy
      </p>
    </footer>
  </body>
</html>
