<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chores - To do list</title>
    <link rel="stylesheet" href="../resources/styles/style.css" />
    <script src="../resources/js/main.js" defer></script>
    <script src="../resources/js/populate-chores-table.js" defer></script>
    <script src="../resources/js/chores-events.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="./index.html">Home</a>
          </li>
          <li>
            <a href="./about.html">About</a>
          </li>
          <li>
            <a href="./chores.html">Chores</a>
          </li>
        </ul>
      </nav>
      <h1>Chores page</h1>
      <img
        src="https://media.istockphoto.com/vectors/list-with-things-to-do-in-notepad-and-pencil-checklist-doodle-hand-vector-id1186910494?k=20&m=1186910494&s=612x612&w=0&h=ewPzTuZr1EfV7vqeJsJi4Qxqx270_GhB58tUQ8cZuF8="
        alt="to do list"
      />
    </header>
    <section class="content">
      <div class="form">
        <button class="new-chore" id="new-chore" type="button">
          Add new item
        </button>
        <button class="return-default" id="return-default" type="button">
          Default
        </button>
        <div class="add-chore">
          <input type="text" placeholder="Name..." class="chore-input" />
          <button id="chore-btn" class="chore-btn" type="button">Add</button>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th scope="col" colspan="1">#</th>
            <th scope="col" colspan="2">Chore name</th>
          </tr>
        </thead>
        <tbody id="chore-table">
          <tr></tr>
        </tbody>
      </table>
    </section>
    <footer>
      <p>
        Created by
        <a href="https://github.com/Zacpowerr/" target="_blank">Zacpowerr</a>
        2021&copy
      </p>
    </footer>
    <script src="../resources/js/add-chore.js"></script>
  </body>
</html>
