<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Todo list</title>
    <link rel="stylesheet" href="../resources/styles/style.css" />
    <script src="../resources/js/main.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <p>
          <a href="./index.html">Home</a>
        </p>
        <p>
          <a href="./about.html">About</a>
        </p>
        <p>
          <a href="./chores.html">Chores</a>
        </p>
      </nav>
      <h1>Welcome to the random to do list generator</h1>
      <img
        src="https://media.istockphoto.com/vectors/list-with-things-to-do-in-notepad-and-pencil-checklist-doodle-hand-vector-id1186910494?k=20&m=1186910494&s=612x612&w=0&h=ewPzTuZr1EfV7vqeJsJi4Qxqx270_GhB58tUQ8cZuF8="
        alt="to do list"
      />
    </header>
    <section class="content">
      <article class="purpouse">
        <h3>Do you have nothing to do?</h3>
        <p>
          You came to the right place. <br />
          This is a simple application to generate a random list of chores for
          you to do around your house. <br />
          Just input the amount of items you want in your list and
          <b>BOOM</b> we`ll tell you what to do next.
        </p>
        <p>
          You can also view and change the default chores if you have any better
          chores than ours by clicking <a href="./chores">here</a>.
        </p>
      </article>
      <article class="form">
        <input type="number" name="amount" id="amount" />
        <br />
        <button type="button" id="generate-btn">Generate</button>
      </article>
      <article class="table-result">
        <table>
          <thead>
            <tr>
              <th scope="col" colspan="1">#</th>
              <th scope="col" colspan="2">Chore name</th>
            </tr>
          </thead>
          <tbody id="chore-table">
            <tr></tr>
          </tbody>
        </table>
      </article>
      <article class="about">
        <h2>About</h2>
        <p>
          This is a simple JS application to generate a random list of chores.
        </p>
        <p>
          You can find out more about the project and
          <a href="https://github.com/Zacpowerr/" target="_blank">Me</a> by
          going to the
          <a href="./about">About page</a>
        </p>
      </article>
    </section>
    <footer>
      <p>
        Created by
        <a href="https://github.com/Zacpowerr/" target="_blank">Zacpowerr</a>
        2021&copy
      </p>
    </footer>
  </body>
</html>
