body,
html {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.float-left {
  float: left;
}

.float-right {
  float: right;
}
/** Header */
header {
  padding: 50px 0;
}

header nav {
  color: black;
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
}
header nav ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
header nav li {
  display: inline-block;
  margin: 0;
}
nav a,
nav a:visited {
  color: black;
}

header img {
  width: 200px;
  height: 200px;
}
header h1 {
  margin-right: 10px;
  margin-left: 10px;
}

/** Body */
table {
  margin: 0 auto;
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 2px;
}
.new-chore,
.return-default,
.clear-list {
  display: block;
}
.add-chore {
  display: block;
  text-align: start;
  display: none;
  clear: both;
}
.form button {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  background-color: black;
  color: white;
  font-family: "Impact", "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.form input {
  width: 20%;
  margin-top: 10px;
  border-radius: 10px;
  border-color: black;
  font-weight: 900;
  font-size: large;
}
.table-result {
  display: none;
}
.content {
  box-sizing: border-box;
  padding-bottom: 70px;
  width: 50%;
  margin: 0 auto;
}
.about {
  padding-bottom: 50px;
}
aside {
  display: flex;
  float: right;
  margin: 5%;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
}
#intro,
#experience,
#roots,
#socials {
  width: 50%;
  text-align: left;
}

#socials ul {
  display: flex;
  align-self: flex-start;
  justify-content: space-around;
}
#socials ul li {
  display: inline-block;
}
.social-icon {
  width: 20px;
  height: 20px;
}
.me {
  width: 300px;
}
/** Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
  background-color: black;
  color: white;
}
footer p {
  font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .content {
    width: 90%;
  }
  .chore-input {
    width: 100% !important;
  }
}
